@use '../settings/mq.scss' as *;
@use '../settings/mixins.scss' as *;

*, *::before, *::after {
	box-sizing: border-box;
}

p {
  margin: 0 0 1rem 0;
  &:last-child{
    margin-bottom: 0;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.o-container{
  max-width: var(--wp--style--global--wide-size);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  @include respond-to(tablet) { 
    padding-left: 34px;
    padding-right: 34px;
  }
  @include respond-to(mobile) { 
    padding-left: 0;
    padding-right: 0;
  }
}

.o-flex{
  display: flex;
  &--col{
    flex-direction: column;
  }
  &--center{
    justify-content: center;
    align-items: center;
  }
}

.o-relative{
  position: relative;
}

.o-grid{
  display: grid;
  gap: 16px; /* Adjust the gap between items as needed */ 
}