@use '../settings/mq.scss' as *;
@use '../settings/mixins.scss' as *;

// html{
//   font-size: 20px;
// }

*, *::before, *::after {
	box-sizing: border-box;
}

p {
  margin: 0 0 1rem 0;
  &:last-child{
    margin-bottom: 0;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.o-container{
  max-width: var(--wp--style--global--wide-size);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  @include respond-to(tablet) { 
    padding-left: 34px;
    padding-right: 34px;
  }
  @include respond-to(mobile) { 
    padding-left: 0;
    padding-right: 0;
  }
}

.o-flex{
  display: flex;
  &--col{
    flex-direction: column;
  }
  &--center{
    justify-content: center;
    align-items: center;
  }
}

.o-relative{
  position: relative;
}

.o-grid{
  display: grid;
  gap: 16px; /* Adjust the gap between items as needed */ 
  grid-template-columns: 1fr 1fr;
  &--3col{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.o-box{
  background: var(--wp--preset--color--dark-gray);
  border: 1px solid var(--wp--preset--color--medium-gray);
  @include respond-to(mobile) { 
      border-right: none;
      border-left: none;
  }
}

.o-page-overlay{
  background: rgba(#000000, 0.8);
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  &.is-active{
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
  }
}