@use '../settings/mixins.scss' as *;

.c-contact{
    padding: 5.2rem 0 3.2rem 0;
    @include respond-to(mobile) {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    &__top{
        padding: 0 3.2rem;
        margin-bottom: 2.8rem;
        .o-grid{
            @include respond-to(tablet) {
                grid-template-columns: 1fr;
                gap: 2.4rem;
            }
        }
    }
    &__map{
        position: relative;
        margin-bottom: 3.2rem;
        border: 1px solid var(--wp--preset--color--medium-gray);
        @include respond-to(mobile) {
            border: none;
        }
        &__mapbox{
            width: 100%;
            position: relative;
            height: 400px; 
            overflow: hidden;
            .mapboxgl-ctrl-logo {
                display: none !important;
            }
        }
    }
    &__open{
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        align-items: center;
        &__title{
            color: var(--wp--preset--color--dark-orange);
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 1rem;
        }
        &__subtitle{
            font-size: 1.3rem;
        }
    }
}